[Unit]
Description=URHYNIX urhynix-endpoint
[Service]
Type=simple
ExecStart=/bin/bash -c "source /opt/ros/jazzy/setup.bash && source /home/t1/turtlebot3_ws/install/setup.bash 2>/dev/null; export ROS_DOMAIN_ID=2 RMW_IMPLEMENTATION=rmw_fastrtps_cpp ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET; exec ros2 run ros_tcp_endpoint default_server_endpoint --ros-args -p ROS_IP:=0.0.0.0 -p ROS_TCP_PORT:=10000"
Restart=on-failure
RestartSec=5
[Install]
WantedBy=default.target
